extends layout

block content
  body#u_body.u_body(width='100%', bgcolor='#f5f5f5', style='margin: 0; mso-line-height-rule: exactly; background-color: #f5f5f5;')
    div(style='background-color: #f5f5f5; font-family: arial,helvetica,sans-serif;')
      table#u_row_11.u_row(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='margin: 0; padding: 0')
        tbody
          tr
            td(align='center', valign='top', bgcolor='', style='padding: 0px; background-color: ;')
              //if mso | IE
                table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                  tbody
                    tr
                      td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;', bgcolor='')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                              tr
                                td(style='vertical-align:top;width:600px;')
                        #u_column_29.email-col-100.outlook-group-fix.u_column(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table#u_content_image_1.u_content_image(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:0px;font-family:arial,helvetica,sans-serif;', align='left')
                                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                    tbody
                                      tr
                                        td(style='padding-right: 0px; padding-left: 0px;', align='center')
                                          img.fullwidth(align='center', border='0', src='https://cf.2vanx.com/regsvp/registration_forms/banners/000/001/208/form/Disney10K_ver11_HR_1800x720-64eec70a7cf19073e7953746ffde855aebb42ba1c234eb302e9f3bbc1ca05541.jpg', alt='Image', title='Image', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 600px;', width='600')
                        //if mso | IE
                        //if mso | IE
      table#u_row_1.u_row(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='margin: 0; padding: 0')
        tbody
          tr
            td(align='center', valign='top', bgcolor='', style='padding: 0px; background-color: rgba(255,255,255,0);')
              //if mso | IE
                table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                  tbody
                    tr
                      td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;', bgcolor='#ffffff')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                              tr
                                td(style='vertical-align:top;width:600px;')
                        #u_column_1.email-col-100.outlook-group-fix.u_column(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table#u_content_text_1.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:15px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #333333; line-height: 120%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 120%;')
                                      span(style="font-size: 20px; line-height: 24px; font-family: 'Open Sans', sans-serif;")
                                        strong
                                          span(style='line-height: 24px; font-size: 20px;') Registration Confirmation
                          table#u_content_text_4.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 16.8px;")
                                        | Thank you for your registration. Your registration confirmation number is 6a9785896d53. Below are the details of your registration.
                          table#u_content_text_5.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style='text-decoration: underline; font-size: 16px; line-height: 22.4px;')
                                        strong Order summary
                          table#u_content_html_6.u_content_html(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div
                                    table(style="border-collapse: collapse;border: 1px solid #ccc; font-family: 'Open Sans';")
                                      thead
                                        tr(style='background-color: #999;color: #fff;')
                                          th(style='padding:5px; border: 1px solid #ccc;background-color: #999;color: #fff; text-align: center') Items
                                          th(style='padding: 5px;  width: 60px; text-align: center') Quantity
                                          th.price(style='padding:5px; width: 120px;text-align: center;border: 1px solid #ccc;background-color: #999;color: #fff;') Price
                                          th.subtotal(style='padding:5px; width: 120px;text-align: center;border: 1px solid #ccc;background-color: #999;color: #fff;') Subtotal
                                      tbody
                                        tr
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc; text-align: center') Toy Story 3K - Aged 12 or above (Nov 3)
                                          td(style='padding: 5px; font-weight: normal; width: 60px; text-align: center') 1
                                          td.price(style='padding:5px; width: 120px;text-align: right; border-collapse: collapse;border: 1px solid #ccc;') HK$ 400.0
                                          td.subtotal(style='padding:5px; width: 120px;text-align: right;border-collapse: collapse;border: 1px solid #ccc; color: orange') HK$ 400.0
                                      tfoot.order-total
                                        tr(style='background-color: #f5f5f5;')
                                          td(style='padding:5px; border-collapse: collapse;border: 1px solid #ccc;', colspan='2')
                                          td(style='padding:5px; text-align: right; border-collapse: collapse;border: 1px solid #ccc; font-weight: bold') Total Price
                                          td(style='padding: 5px; font-weight: normal; text-align: right; color: orange') HK$ 1560
                          table#u_content_divider_3.u_content_divider(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='text-align: center;')
                                    div(style='border-top-width: 1px; border-top-style: solid; border-top-color: #BBBBBB; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;')  
                          table#u_content_text_30.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="text-decoration: underline; font-size: 14px; line-height: 19.6px; font-family: 'Open Sans', sans-serif;")
                                        strong
                                          span(style='font-size: 16px; line-height: 22.4px;') Participant Details
                          table#u_content_text_31.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Participant Name: Flora Fong
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Race Type: The Incredibles 10K (Race Group)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;")
                                        | Race Details: November 4, 2018 (Sunday), 7:00 A.M. - 9:30 A.M. (Participant must be 16 years old or above (on the day of event).)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Participant T-Shirt Size: XS (exclude Kids Race)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Email: flora.fong@disney.com
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Phone: +85278934313
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Name: test
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Relationship: test
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Phone: +85233303333
                          table#u_content_divider_8.u_content_divider(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='text-align: center;')
                                    div(style='border-top-width: 1px; border-top-style: solid; border-top-color: #BBBBBB; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;')  
                          table#u_content_text_44.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Participant Name: Flora Fong
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Race Type: The Incredibles 10K (Race Group)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;")
                                        | Race Details: November 4, 2018 (Sunday), 7:00 A.M. - 9:30 A.M. (Participant must be 16 years old or above (on the day of event).)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Participant T-Shirt Size: XS (exclude Kids Race)
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Email: flora.fong@disney.com
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Phone: +85278934313
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Name: test
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Relationship: test
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Emergency Contact Phone: +85233303333
                          table#u_content_divider_9.u_content_divider(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='text-align: center;')
                                    div(style='border-top-width: 1px; border-top-style: solid; border-top-color: #BBBBBB; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;')  
                          table#u_content_text_33.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="text-decoration: underline; font-size: 14px; line-height: 19.6px; font-family: 'Open Sans', sans-serif;")
                                        strong
                                          span(style='font-size: 16px; line-height: 22.4px;') More Add Ons
                          table#u_content_text_34.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 21px 10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 19.6px;")
                                        strong Additional Participant For "Toy Story 3K - Aged 3 – 11"
                          table#u_content_text_35.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;")
                                        | If you have already registered for "Toy Story 3K - Aged 12 or above" race and would like to make additional registration for "Toy Story 3K - Aged 3 – 11". Please register here. Participant who is aged below 12 must be accompanied by a Participant aged 18 or above.
                          table#u_content_divider_6.u_content_divider(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='text-align: center;')
                                    div(style='border-top-width: 1px; border-top-style: solid; border-top-color: #BBBBBB; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;')  
                          table#u_content_text_36.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 19.6px;")
                                        strong AIA Exclusive Hotel Offers
                          table#u_content_text_37.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;")
                                        | Runners who have successfully enrolled may enjoy a limited time offer starts from HK$1,088 per room per night for a relaxing stay at one of our resort hotels during the “Hong Kong Disneyland 10K Weekend 2018 –Presented by AIA Vitality” from Oct 20 – Nov 18, 2018, with last check-out date on November 19, 2018. Each eligible runner may reserve up to 2 rooms with the same arrival and departure dates. Make your reservation from June 20 to October 30, 2018, to maximize your 10K Weekend! For details and reservation, please call 1-830-830 and quote the Promotion Code [GP23040DL*] at the time of reservation.
                          table#u_content_divider_7.u_content_divider(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='text-align: center;')
                                    div(style='border-top-width: 1px; border-top-style: solid; border-top-color: #BBBBBB; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;')  
                          table#u_content_text_38.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="text-decoration: underline; font-size: 16px; line-height: 22.4px; font-family: 'Open Sans', sans-serif;")
                                        strong Runner's Pack Collection Detail
                          table#u_content_text_39.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style='font-size: 12px; line-height: 16.8px;')
                                        | You can redeem an exclusive runner's pack including an event T-shirt, a Disney-themed running bib and more. Runner's pack collection are listed as below. Each participant will receive a reminder email with further details prior to the collection date.
                          table#u_content_html_4.u_content_html(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div
                                    table(style="font-family: 'Open Sans'; border-collapse: collapse;border: 1px solid #ccc;")
                                      thead
                                        tr
                                          th(style='padding: 5px; border: 1px solid #ccc;background-color: #999;color: #fff;') Redemption Date
                                          th(style='padding: 5px; border: 1px solid #ccc;background-color: #999;color: #fff;') Redemption Time
                                          th(style='padding: 5px; border: 1px solid #ccc;background-color: #999;color: #fff;') Redemption Venue
                                      tbody
                                        tr
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;')
                                            br
                                            | October 20 - 21, 2018 (Sat & Sun)
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;') 11:00 - 19:00
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;') Podium Wing QR, The Hong Kong Polytechnic University, Hung Hom
                                        tr
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;') October 31 - November 3, 2018 (Wed - Sat)
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;') 13:00 - 20:00
                                          td(style='padding: 5px; border-collapse: collapse;border: 1px solid #ccc;') Hong Kong Disneyland Hotel (Level 1) – King Stefan
                          table#u_content_text_40.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") We look forward to seeing you at Hong Kong Disneyland Resort!
                          table#u_content_text_43.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;")
                                        | For event enquiries, please contact Event Hotline at +852 3550-1188 (Mon-Fri 09:00 - 18:00) or email to 
                                        a(href='mailto:HKDL.10Kweekend@disney.com', target='_blank', rel='noopener') HKDL.10Kweekend@disney.com
                          table#u_content_text_42.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:10px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 140%; text-align: left;')
                                    p(style='font-size: 14px; line-height: 140%;')
                                      span(style="font-size: 12px; line-height: 16.8px; font-family: 'Open Sans', sans-serif;") Have a Magical Day!
                        //if mso | IE
                        //if mso | IE
      table#u_row_2.u_row(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='margin: 0; padding: 0')
        tbody
          tr
            td(align='center', valign='top', bgcolor='', style='padding: 0px; background-color: rgba(255,255,255,0);')
              //if mso | IE
                table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                  tbody
                    tr
                      td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;', bgcolor='#ffffff')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                              tr
                                td(style='vertical-align:top;width:600px;')
                        #u_column_2.email-col-100.outlook-group-fix.u_column(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table#u_content_text_3.u_content_text(style='font-family:arial,helvetica,sans-serif;', role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='overflow-wrap: break-word;padding:30px 20px 20px;font-family:arial,helvetica,sans-serif;', align='left')
                                  div(style='color: #000; line-height: 120%; text-align: left;')
                                    p(style='text-align: center; line-height: 120%; font-size: 14px;')
                                      a(href='mailto:support@eventxtra.com', target='_blank', rel='noopener')
                                        span(style='text-decoration-line: underline; line-height: 16.8px; color: #7f7f7f; font-size: 14px;')
                                          span(style="font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 14.4px;") Unsubscribe
                        //if mso | IE
                        //if mso | IE
