doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='x-apple-disable-message-reformatting')
    style(type='text/css').
      #outlook a {
      padding: 0;
      }
      .ReadMsgBody {
      width: 100%;
      }
      .ExternalClass {
      width: 100%;
      }
      .ExternalClass * {
      line-height: 100%;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p,
      ul {
      display: block;
      margin: 0;
      }
      @media only screen and (min-width: 480px) {
      .email-col-17 {
      width: 17% !important;
      }
      .email-col-25 {
      width: 25% !important;
      }
      .email-col-33 {
      width: 33% !important;
      }
      .email-col-50 {
      width: 50% !important;
      }
      .email-col-67 {
      width: 67% !important;
      }
      .email-col-100 {
      width: 100% !important;
      }
      }
      @media only screen and (max-width: 480px) {
      img.fullwidth {
      max-width: 100% !important;
      }
      }
    //if mso
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    //if mso
      style(type='text/css').
        ul li {
        list-style:disc inside;
        mso-special-format:bullet;
        }
    //if lte mso 11
      style(type='text/css').
        .outlook-group-fix {
        width:100% !important;
        }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    style(type='text/css').
      @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
    // <![endif]
  block content
